.navBar {
    font-size: 1.25em;
    font-weight: bold;
    
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    min-height: var(--page-navBar-height);
    padding: 0.5em;
    
    list-style: none;
    color: rgb(80, 80, 80);
    background-color: rgb(221, 155, 97);
}