.navBar {
    font-size: 1.25em;
    font-weight: bold;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    min-height: var(--page-navBar-height);
    background-color: rgb(221, 155, 97);
    padding: 0.5em;
}

.navBar__md {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    list-style: none;
    color: rgb(80, 80, 80);
    
}

.navBar__sm {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navBar__sm {display: inline-block;}
    .navBar__md {display: none;}
  }